@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-size: 62.5%;
    overflow-x: hidden;
}

h1, h2 {
    color: #111;
}

p {
    font-size: 2rem;
}

.top-bar {
    position: fixed;
    width: 100vw;
    background-color: #333;
    color: white;
    font-size: 2.4rem;
    font-weight: bold;
    padding: 8px;
    text-align: center;
    border-bottom: 5px solid #fd8a24;
}

#container {
    max-width: 888px;
    margin: 20px auto;
    padding: 0 25px;
}

.header h1 {
    margin-top: 130px;
    line-height: 64px;
    font-size: 5.6rem;
    margin-bottom: 30px;
}

.header h2{
    margin-bottom: 20px;
    font-weight: normal;
    font-size: 2rem;
}

.author {
    font-weight: bold;
    font-size: 1.3rem;
}

.date-time {
    font-size: 1.2rem;
}

nav {
    border-bottom: 1px solid rgba(161, 161, 161, 0.541);
    margin-bottom: 30px;
}

.menu li {
    margin: 20px 0;
    list-style: none;
    display: inline-block;
}

.menu-icon {
    width: 20px;
    margin-right: 10px;
}

.content {
    max-width: 648px;
    margin: auto;
}

.content section p {
    text-align: justify;
    margin-bottom: 20px;
    line-height: 32px;
}

.link {
    font-size: 2rem;
    margin-bottom: 30px;
}

a {
    text-decoration: none;
    font-size: 2.2rem;
    font-weight: bold;
    color: #fd8a24;
}

a:hover {
    text-decoration: underline;
}

figure img {
    width: 100%;
}

figcaption {
    font-weight: normal;
    font-size: 1.2rem;
    margin-bottom: 20px;
}

aside {
    font-size: 1.6rem;
}

.section-list ol {
    font-size: 1.8rem;
    margin-top: 20px;
    font-weight: bold;
}

.section-list ol li h2 {
    padding-bottom: 20px;
    font-size: 2.4rem;
    font-weight: bold;
}

.section-list ol li p {
    font-weight: normal;
}

footer {
    border-top: 5px solid #fd8a24;
    background-color: #333;
    height: 80px;
    color: white;
    text-align: center;
    padding-top: 30px;
}

@media screen and (max-width: 360px) {
    .header h1 {
        font-size: 4rem;
    }
}