@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;700&display=swap');

body, html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-size: 62.5%;
    color: #555;
}

h1, h2 {
    color: #111;
}

h2 {
    font-size: 2.2rem;
}

a {
    text-decoration: none;
    color: #fd8a24;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

.top-bar {
    background-color: #333;
    color: white;
    font-weight: bold;
    font-size: 2.4rem;
    text-align: center;
    padding: 8px;
    border-bottom: 5px solid #fd8a24;
}

.container {
    max-width: 888px;
    margin: auto;
    padding: 30px;
}

.head-line {
    font-size: 5.6rem;
    line-height: 64px;
}

.sub-title {
    font-weight: normal;
    font-size: 2rem;
}

.author {
    font-weight: bold;
    font-size: 1.3rem;
}

.date-time {
    font-size: 1.3rem;
}

.social-icons {
    margin-top: 10px;
    border-bottom: 1px solid rgb(185, 184, 184);
}

.social-icons ul {
    margin: 0;
    padding: 0;
}

.social-icons ul li {
    list-style: none;
    display: inline;
}

.social-icon {
    width: 20px;
    padding: 10px 10px 10px 0px;
}

.content {
    max-width: 648px;
    margin: auto;
}

p {
    font-size: 2rem;
    line-height: 32px;
}

.cta {
    font-size: 2rem;
    margin: 30px 0;
}

figure {
    padding: 0;
    margin: 40px 0;
    font-size: 1.2rem;
}

figure > img {
    width: 100%;
}

.footer {
    background-color: #333;
    height: 100px;
}

.texto {
    color: white;
    text-align: center;
    padding-top: 40px;
}